@*
    the page for contact form
*@
@{
    ViewData["Title"] = "Index";
}

<h2 class="sm-heading" style="text-align: center;">THIS IS HOW YOU CAN REACH ME</h2>

<div class="boxes">
    <div><span class="text-secondarys">EMail:</span> m.shakerirad@outlook.de</div>
</div>

<div class="boxes">
    <div><span class="text-secondarys">Phone:</span> +49 176 750 89908</div>
</div>

<div class="boxes">
    <div><span class="text-secondarys">Address:</span> Amalien Strße 3, 99423, Wimar, Germany</div>
</div>