@{
    ViewData["Title"] = "Home";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Matt_Portfolio</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="/css/main.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/ad771ba839.js" crossorigin="anonymous"></script>
</head>

<main id="home">
    <h1 class="lg-heading">Mahdi <span class="text-secondarys">Shakerirad</span></h1>
    <h2 class="sm-heading">FullStack Web Developer, Working with ASP.NET Core Framework [C#] and Angular </h2>

    <div class="icons">
        <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
        <a href="#"><i class="fab fa-linkedin fa-2x"></i></a>
        <a href="#"><i class="fab fa-xing fa-2x"></i></a>
        <a href="#"><i class="fab fa-indeed fa-2x"></i></a>
    </div>
</main>
