@*
   for the work page
*@

@{
    ViewData["Title"] = "Index";
}

<head>
    <script src="https://kit.fontawesome.com/ad771ba839.js" crossorigin="anonymous"></script>
</head>

<div class="title-project">
    CLONE OF DIFFERENT WEBSITES <br />
    <i class="fab fa-angular fa-2x sign"></i> &nbsp;
    <i class="fab fa-html5 fa-2x sign"></i> &nbsp;
    <i class="fab fa-css3-alt fa-2x sign"></i> &nbsp;
    <i class="fab fa-js-square fa-2x sign"></i> &nbsp;
    <i class="fab fa-bootstrap fa-2x sign"></i> &nbsp;
    <i class="fab fa-sass fa-2x sign"></i> &nbsp;
</div>

<div class="project">

    <div class="item">
        <a href="#"><img src="/img/Honda.png" alt="Honda website Clone" /></a>
    </div>

    <div class="item">
        <a href="#"><img src="/img/Yahoo!.png" alt="Yahoo! Wbsite clone" /></a>
    </div>

    <div class="item">
        <a href="#"><img src="/img/amazon.png" alt="Amazon website clone" /></a>
    </div>

    <div class="item">
        <a href="#"><img src="/img/Apple.png" alt="Apple Website Clone" /></a>
    </div>
</div>