@*
    Index for the About Page
*@

@{
    ViewData["Title"] = "Index";
}



<div class="about-info">
    <img src="/img/eagle logo.png" alt="Mahdi Shakerirad" class="bio-image" />

    <div class="bio2">
    </div>

    <div class="bio">
        <h3 class="text-secondarys">ABOUT ME</h3>
        <h5>Hey, I am Matt, I am a fullstack web developer which I am working on ASP.NET Core Framwork with C# and for the backend and Angular for the front end. I am also doing artificial intelligence for optimizing the websites</h5>
    </div>

    <div class="job job-1">
        <h3>Education</h3>
        <br />
        <h5>Bauhaus-Universität Weimar</h5>
        <h6>M.Sc. Computer Science </h6>
        <h6>2019 - 2021</h6>
        <br />
        <h5>University of Science & Culture</h5>
        <h6>B.Sc. Civil & Environmental Engineering</h6>
        <h6>2011 - 2016</h6>
    </div>

    <div class="job job-2">
        <h3>Work Experience</h3>
        <br />
        <h5>Research Assistant</h5>
        <h6>Bauhaus-Universität Weimar</h6>
        <h6>April 2020 - November 2020</h6>
        <h6>Web Technology and Iformation Systems Lab (Webis)</h6>
        <br />
        <h5>Cloud Engineer</h5>
        <h6>Plazz AG</h6>
        <h6>September 2019 - November 2019</h6>
        <br /><br />
    </div>

    <div class="job job-3">
        <h3>Technologies</h3>
        <br />
        <h6>HTML / CSS / Javascript [Angular]</h6>
        <h6>ASP.NET Core Framework C#</h6>
        <h6>Python [ SciPy, NumPy, Pandas ]</h6>
        <h6>Java</h6>
        <h6>Windows - MacOS - Linux</h6>
        <h6>Git / Github / GitLab</h6>

    </div>

</div>